go 1.21.5

use (
	./libs/identity
	./libs/p2p
	./libs/routing
	./libs/search
	./libs/telemetry
	./services/bootnode
	./services/edge-node
	./services/relay
	./tests/e2e
	./tests/integration
	./tools/cli
)
